{% load static %}

<!-- header section strats -->
<header class="header_section">
    <div class="container">
        <div class="header_nav">
            <a class="navbar-brand brand_desktop" href="index.html">
                <img src="images/logo.png" alt="" />
            </a>
            <div class="main_nav">
                <div class="top_nav">
                    <ul class=" ">
                        <li class="">
                            <a class="" href="">
                                <img src="images/telephone.png" alt="" />
                                <span> +01 1234567890</span>
                            </a>
                        </li>
                        <li class="">
                            <a class="" href="">
                                <img src="images/mail.png" alt="" />
                                <span>demo@gmail.com</span>
                            </a>
                        </li>
                        <li class="">
                            <a class="" href="">
                                <img src="images/location.png" alt="" />
                                <span>Den mark Loram ipusum</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom_nav">
                    <nav class="navbar navbar-expand-lg custom_nav-container">
                        <a class="navbar-brand brand_mobile" href="index.html">
                            <img src="{% static 'images/logo.png' %}" alt="" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                                <ul class="navbar-nav  ">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/app/home/">Home <span
                                                class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/app/about/"> About </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="class.html"> Classes </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/app/blog/">Blog</a>
                                    </li>
                                </ul>
                                <form class="form-inline">
                                    <button class="btn ml-3 ml-lg-5 nav_search-btn" type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- end header section -->